
.img{
width: 700px;
float: left;
margin-left: 10px;
margin-top: 50px;
margin-bottom: 50px;


}

.product{
  flex-direction: column;
  margin-left: 900px;
  margin-top: 70px;
  width: 500px;

}

.nom{
text-align: center;
size: 100px;
font-size: 20px;


}

.prix{
  size: 50px;
  font-size: 20px;
}

.ajoutPanier{
  background-color: lightblue;
  width: 200px;
  height: 50px;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.paveNum{
  margin-top: 50px;
  border-radius: 5px;
}

.formPanier{
  width: 500px;
  margin: auto;
  text-align: center;
  display: inline;
  float: none;
}

.selectQuant{
  margin-left: 220px;
  margin-top: 140px;
}