.chevau{
  display: flex;
  justify-content: center;
   position: relative;
  
  
} 

.incroyable{
  
  
  text-align: center;
  color: black;
  font-size: 35px;
  width: 400px;
  
  
}

.carousel{

display: flex;
justify-content: center;
 position: relative;

}




body {
  background-image: url(img/test3.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.item{
  margin-top: 2px;
  background-color: #f00ff0 ;
  width: 500px;
  height: 300px;
  
}

.img{
display: flex;
justify-content: space-between;
size: 800px;
margin-left: 10px;
text-align: center;

}

.prix{
  size: 30px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.nom{
size: 30px;
margin-left: auto;
margin-right: auto;

}