

.incroyable{
  
  
  text-align: center;
  color: black;
  font-size: 35px;
  width: 400px;
  
  
}

.ensemble{

display: flex;
justify-content: center;
 position: relative;

} 






.item{
  margin-top: 0px;
  background-color: #f00ff0 ;
  width: 500px;
  height: 300px;
  
  
}

.img{
display: flex;
justify-content: space-between;
size: 800px;
margin-left: 10px;
/* text-align: center; */

}

.prix{
  size: 50px;
 text-align: center;

}

.nom{
size: 100px;
justify-content: center;

}