.chevau{

  
  
  /* border: 1px solid darkblue;  */
  /* min-height: 100%;*/
  /* width: 100%; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/test3.png); */


 
} 

 .body{ 
  
  width: 100%; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/test3.png);
 }
  


  
  


.incroyable{
  
  
  text-align: center;
  color: black;
  font-size: 35px;
  width: 500px;
  border: 1px solid pink;
  
  
}

.carousel{

display: flex;
justify-content: center;
 position: relative;
 border: 1px solid orange;



} 

 /* body {
  background-image: url(img/test3.png);
  background-repeat: no-repeat; 

  background-position: center;
  height: 100%;
  max-height: max-content; 
 }  */

.item{
  margin-top: 2px;
  background-color: #f00ff0 ;
  width: 500px;
  height: 300px;
  padding-top: 5px;
  border: 1px solid red;
  
}

.img{
display: flex;

margin-left: 20px;
border: 1px solid green;
justify-content: space-around;




}

.prix{
  size: 30px;
  padding-top: 5px;
  text-align: end;
  border: 1px solid yellowgreen;
 
  
}

.nom{
size: 30px;
text-align: center;
border: 1px solid blue;
}