@font-face {
    font-family: 'aileronregular';
    src: url('Aileron-Regular-webfont.eot');
    src: url('Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Regular-webfont.woff2') format('woff2'),
         url('Aileron-Regular-webfont.woff') format('woff'),
         url('Aileron-Regular-webfont.ttf') format('truetype'),
         url('Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aileronbold';
    src: url('Aileron-Bold-webfont.eot');
    src: url('Aileron-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aileron-Bold-webfont.woff2') format('woff2'),
         url('Aileron-Bold-webfont.woff') format('woff'),
         url('Aileron-Bold-webfont.ttf') format('truetype'),
         url('Aileron-Bold-webfont.svg#aileronbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
    background-color: #F0F0F0;
    margin: 0px;
    
}


header
{
   
    background-color: black;
    opacity: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
   
    
   
}

#acc
{
    background-image: "accueil.png";
}


#logob
{
    background-color: red;
    display: flex;
    align-items: first baseline;


    padding: 18px;
    margin-left: 20px;
    
    


   
    
}
#search
{
    background-color: pink;
    position: absolute;
    top: 34px;
    right: 200px;

     
    
    
}
#panier
{
    background-color: blue;
    height: 60px;
    position: absolute;
    top: 34px;
    right: 100px;


    /* margin: 15px;
    margin-top: 35px;
    margin-left: 100px; */
   
    
    
    
}

#searchtext{
    position: absolute;
    top: 5%;
    right: 50%;
}

#user
{
    background-color: green;
    height: 60px;
    /* margin: 15px; */
    position: absolute;
    top: 30px;
    right: 1px;




    /* margin-top: 35px;
    margin-left: 100px;
     */
}
