
a {
    color: white;
    text-decoration: underline;
}

a:link{
    text-decoration: none;
    color: black;
}

body
{
    background-color: #F0F0F0;
    margin: 0px;
}


header
{
   
    background-color: darkslategrey;
   padding: 5px;
   
    /* opacity: 70%; */
   
    display: flex;

    justify-content: flex-start; 
   
    
   
}

#acc
{
    background-image: "accueil.png";
}


#logob
{
   
    display: flex;
    justify-content: flex-start;


    padding: 1px;
    margin: 15px;
    
    


   
    
}

#carouselExampleControls{
    width: 50%;
    margin: auto;
}
.carousel-item img{
    width: 100%;
    height: auto;
}



#panier
{
   
    height: 60px;
    position: absolute;
    top: 50px;
    right: 100px;
    margin-right: 15px;

    /* margin: 15px;
    margin-top: 35px;
    margin-left: 100px; */
   
    
    
    
}



#user
{
    color: white;
    height: 200px;
     margin-right: 20px;
    position: absolute;
    top: 50px;
    right: 1px;
    text-decoration: none;
}






  @media (min-width: 768px) {
    input[type=submit] {
      background: #fff;
      bottom: 2.75rem;
      left: 2.55rem;
      height: 2.75rem;
      padding: 0 3rem;
      position: absolute;
    }
  }

  body {
    text-align: center;
}


form {
    display: inline-block;
    overflow: hidden;
    padding: 10%;
    position: relative;
    width: 100%;
    left:900px;
    bottom: 250px;
    
  }

.co-formu{
    position: relative;
    left:900px;
    bottom: 250px;
}


.mail, .mdp {

padding: 6px 12px;
/* font-size: 20px; */
font-weight: 600;
line-height: 1.5;
color: #212529;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
appearance: none;
border-radius: 4px;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}


 :focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
} 



.input-container{
	position:relative;
	margin-bottom:25px;
   /* top: 50px; */
    /* left:200px;  */
}
/* .input-container label{
	
	top:0px;
	left:50px;
	font-size:16px;
	color:black;	
    
}  */
.input-container input{ 
  border:0;
  border-bottom:1px solid #555; 
  display:block;
  clear: left;
  

  
  
}
 
 
 /* padding:8px 0 5px 0;
  font-size:16px;
  color:black;
  display:block;
      float:left;
      clear:right;
  font-size:18;}  */

.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

input-container input:focus ~ label,
.input-container input:valid ~ label{
	font-size:18px;
	
} 

.text-center{

    font-size:30px;
}





  