

body{
    font-family: 'Montserrat'; 
}

a {
    color: black;
    text-decoration: underline;
    
    
    
}

#deco{
    position: relative;
    width: 100%;
    left: 1060px;
    bottom: 250px;

}
#submit {
    position: relative;
    left: 1050px;
    bottom: 250px;
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #24292e;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    :hover {
        background-color: #f3f4f6;
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }

   
    
}
a:link {
    text-decoration: none;
    color: black;
}
#boutons {
    position: relative;
    width: 100%;
    left: 900px;
    bottom: 250px;
}
header {
    background-color: black;
    padding: 5px;
   /* opacity: 70%;
    */
    display: flex;
    justify-content: flex-start;
}

#logob {
    display: flex;
    justify-content: flex-start;
    padding: 1px;
    margin: 15px;
}
#carouselExampleControls {
    width: 50%;
    margin: auto;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
#panier {
    height: 60px;
    position: absolute;
    top: 50px;
    right: 100px;
    margin-right: 15px;
   /* margin: 15px;
    margin-top: 35px;
    margin-left: 100px;
    */
}
#user {
    color: white;
    height: 200px;
    margin-right: 20px;
    position: absolute;
    top: 50px;
    right: 1px;
    text-decoration: none;
}

   
    #fo {
        display: inline-block;
        overflow: hidden;
        padding: 3%;
        position: relative;
        left: 990px;
        bottom: 250px;
   }

   #for {
    display: inline-block;
    
    padding-bottom: 15%;
    position: relative;
    top: 100px;
 right: 100px;
  left: 80px;
   
   
   
} 

#inscri-formu{
    position: relative;
        left: 150px;
        top: 150px;
}
    #co-formu {
        position: relative;
        left: 150px;
        top: 110px;
      
   }
    .mail, .mdp, .conmdp {
        padding: 6px 12px;
       /* font-size: 20px;
        */
        font-weight: 600;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   }
    :focus {
        color: #212529;
        background-color: #fff;
       
        outline: 0;
        box-shadow: none;
   }
    .input-container {
        position: relative;
        margin-bottom: 25px;
        left:100px;
       
      
   }
    
    
   .input-container label{
        top:0px;
     
        font-size:16px;
        color:black;
   }
    
    .input-container input {
        border: 0;
        border-bottom: 1px solid #555;
        display: block;
        clear: left;
   }
 


.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #848484;
}
input-container input:focus ~ label, .input-container input:valid ~ label{
    font-size:16px;
    
}
.text-center {
    position: relative;
    width: 100%;
    left: 270px;
    bottom: 300px;
    font-size: 30px;
}

.inscri{
    position: relative;
    width: 100%;
    left: 270px;
    bottom: 500px;
    font-size: 30px;
}

body{
    margin: 0%;
}