
a {
    color: white;
    text-decoration: underline;
}

a:link{
    text-decoration: none;
    color: black;
}

body
{
    background-color: #F0F0F0;
    margin: 0px;
}


header
{
   
    background-color: darkslategrey;
   padding: 5px;
   
    /* opacity: 70%; */
   
    display: flex;

    justify-content: flex-start; 
   
    
   
}

#acc
{
    background-image: "accueil.png";
}


#logob
{
   
    display: flex;
    justify-content: flex-start;


    padding: 1px;
    margin: 15px;
    
    


   
    
}

#carouselExampleControls{
    width: 50%;
    margin: auto;
}
.carousel-item img{
    width: 100%;
    height: auto;
}



#panier
{
   
    height: 60px;
    position: absolute;
    top: 50px;
    right: 100px;
    margin-right: 15px;

    /* margin: 15px;
    margin-top: 35px;
    margin-left: 100px; */
   
    
    
    
}



#user
{
    color: white;
    height: 200px;
     margin-right: 20px;
    position: absolute;
    top: 50px;
    right: 1px;
    text-decoration: none;




    /* margin-top: 35px;
    margin-left: 100px;
     */
}
