

body
{
    background-color: #F0F0F0;
    margin: 0px;
}


header
{
   
    background-color: grey;
    /* opacity: 70%; */
   
    display: flex;

    justify-content: flex-start; 
   
    
   
}

#acc
{
    background-image: "accueil.png";
}


#logob
{
    background-color: red;
    display: flex;
    justify-content: flex-start;


    padding: 18px;
    margin-left: 20px;
    
    


   
    
}

#carouselExampleControls{
    width: 50%;
    margin: auto;
}
.carousel-item img{
    width: 100%;
    height: auto;
}


#search
{
    background-color: pink;
    position: absolute;
    top: 34px;
    right: 200px;

     
    
    
}
#panier
{
    background-color: blue;
    height: 60px;
    position: absolute;
    top: 34px;
    right: 100px;


    /* margin: 15px;
    margin-top: 35px;
    margin-left: 100px; */
   
    
    
    
}

#searchtext{
    position: absolute;
    top: 5%;
    right: 50%;
}

#user
{
    background-color: green;
    height: 60px;
    /* margin: 15px; */
    position: absolute;
    top: 30px;
    right: 1px;




    /* margin-top: 35px;
    margin-left: 100px;
     */
}
