
footer{
    border-top: 1px dashed black;
    width: 100%;
}

.contenu-footer{
width: 100%;
margin: 0 top;
display: flex;
justify-content: space-around;
align-items: flex-start;
font-size: 20px;
padding: 50px 0 10px;
}